ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#content {
    float: left;
}

#upload {
    margin: 0;
    display: inline-block;
}

#bbutton {
    position: absolute;
    bottom: 0;
}

#im {
    float: right;
    margin: 0;
}

#map {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    left: 750px;
}