extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="POST", action='/data')
    label(name='input') Input Here:
    input(placeholder='enter', name='query')
    button Enter
  //- script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin="")
  br
  div(id="map")
  script(src= 'javascripts/map.js')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0VU-um6yto_QJOVUEP4jWkw_m2pBpG3U&callback=initMap"
    async defer)
